include versioneer.py
include src/wormhole_transit_relay/_version.py
include LICENSE README.md NEWS.md
recursive-include docs *.md *.rst *.dot
include .coveragerc tox.ini
include misc/*.py
include misc/munin/wormhole_transit*

